.profile-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 30vh;
}
.profile-title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 25px 0 15px 0;
  height: 25vh;
}
.fa-user-circle {
  opacity: 30%;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  height: 5vh;
}
.name {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1.5vh;
  color: rgb(128, 128, 128);
}
.user-name {
  font-size: 1.2rem;
}
.myplaylist {
  display: flex;
  justify-content: space-between;
}
.myplaylist-title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.playlist-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 5vh 3vw;
}
.myplaylist-section {
  margin: 0 10vw 0 5vw;
}
.each-playlist {
  display: flex;
  margin-bottom: 15px;
}
.playlist-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.playlist-name {
  font-size: 1.2rem;
}
.count {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 8px;
  opacity: 50%;
}
.playlist-thumbnail {
  width: 15vw;
}
.myvideos-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.myvideos-playlist-name {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.each-myvideo {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.myvideo-thumbnail {
  width: 10vw;
}
.myvideo-title {
  padding: 0 20px;
  width: 15vw;
}
.eachvideo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
  overflow: auto;
  margin-bottom: 20px;
}
.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 0 0;
}
