.nav-logo {
  width: 350px;
}

.nav-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btn-container {
  padding: 15px;
}

.nav-btn {
  border: none;
  color: white;
  padding: 9px 16px;
  margin: 0 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 0px 2px 2px 1px rgba(84, 84, 84, 0.4);
}

.yellow {
  background-color: rgb(255, 221, 0);
}

.green {
  background-color: rgb(0, 198, 0);
}

.red {
  background-color: rgb(232, 0, 0);
}

.search {
  position: relative;
  text-align: center;
  padding: 2em 0;
}
.search_inner {
  width: 30%;
  position: relative;
  margin: auto;
}

.search-video-input[type="search"] {
  text-indent: 2em;
  font-size: 1.7em;
  padding: 0.4em 0;
  width: 100%;
}

.fa-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: rgb(135, 135, 135);
}
