.nav-logo {
  width: 350px;
}

.nav-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btn-container {
  padding: 15px;
}

.nav-btn {
  border: none;
  color: white;
  padding: 9px 16px;
  margin: 0 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 0px 2px 2px 1px rgba(84, 84, 84, 0.4);
}

.yellow {
  background-color: rgb(255, 221, 0);
}

.green {
  background-color: rgb(0, 198, 0);
}

.red {
  background-color: rgb(232, 0, 0);
}

.search-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-video-input {
  width: 100%;
  font-size: 1rem;
  height: auto;
  padding: 0.8em 0.8em;
  border: 1px solid #999;
  border-radius: 0px;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
